.information
{
    height: 120vh;
}
.header {
    height: 40%; /* Adjust the height of the header */
    position: relative;
  }

  .header-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  

/* ... Existing styles ... */

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Adjust the text color as needed */
}

.center-text p {
  margin: 5px;
}

/* ... Existing styles ... */

.options {
  position: absolute;
  top: 14%;
  right: 2%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
 
}

.option {
  margin: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.3s;
}

.option:hover {
  color: #0022ff; /* Change color on hover, adjust as needed */
}

.team-options {
  position: absolute;
  top: 100%;
  left: 30%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.team-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.team-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Media Query for Responsive Design */



.committees-options {
  position: absolute;
  top: 100%;
  left: 60%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.committees-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition for background-color */
}

.committees-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.section-line {
    border: 1px solid #0c0202; /* Adjust the color as needed */
    width: 80%; /* Adjust the width of the line */
    margin: 35px auto; /* Adjust the margin as needed */
    margin-bottom: 40px;
  }
/* How to Register Section Styles */
.register-container {
    margin-left: 40px;
    margin-top: 30px;
    
  }
  
  .register-container h2 {
    font-size: auto !important;
    color: #333;
  }
  
  .register-container ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
  
  .register-container li {
    margin-bottom: 10px;
    font-size: auto;
  }
  .sec{
   margin-left: 39px;

  }
  /* Category Container Styles */
  .category-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .category-text {
    flex: 1;
    font-size: auto;
  }
  
  .register-button-container {
    margin-left: 20px;
  }
  
  .register-button {
    padding: 10px 20px;
    background-color: #201464;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: auto;
  }
  