.Unhrc
{
    height: 120vh;
}
.header {
    height: 55%; /* Adjust the height of the header */
    position: relative;
  }
  
  .header-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  

/* ... Existing styles ... */

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Adjust the text color as needed */
}

.center-text p {
  margin: 5px;
}

/* ... Existing styles ... */

.options {
  position: absolute;
  top: 14%;
  right: 2%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
}

.option {
  margin: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.3s;
}

.option:hover {
  color: #0022ff; /* Change color on hover, adjust as needed */
}

.team-options {
  position: absolute;
  top: 100%;
  left: 30%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.team-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.team-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {
  .options {
    flex-direction: column; /* Stack options vertically on small screens */
    align-items: center; /* Center options on small screens */
  }

  .option {
    margin: 10px 0; /* Adjust margin for better spacing */
  }

  .team-options {
    left: 0; /* Adjust position to the left on small screens */
    transform: translateX(0);
  }
}



.committees-options {
  position: absolute;
  top: 100%;
  left: 60%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.committees-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition for background-color */
}

.committees-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}



.socialadditional-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.line-container {
    text-align: center;
    margin: 30px 0;
  }
.sociallogo-container {
    margin-right: 20px; /* Adjust the margin as needed */
    max-width: 200%;
}

.sociallogo3 {
    max-width: 200%; /* Ensure the logo does not exceed its container */
    height: 300px;
}

.socialtext-content {
    text-align: justify; /* Align text to the left */
    display: block;
   font-size: large;
   margin-left: 20px;
}




