.unsc
{
    height: 120vh;
}
.header {
    height: 55%; /* Adjust the height of the header */
    position: relative;
  }
  
  .header-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  

/* ... Existing styles ... */

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Adjust the text color as needed */
}

.center-text p {
  margin: 5px;
}

/* ... Existing styles ... */

.options {
  position: absolute;
  top: 14%;
  right: 2%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
}

.option {
  margin: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.3s;
}

.option:hover {
  color: #0022ff; /* Change color on hover, adjust as needed */
}

.team-options {
  position: absolute;
  top: 100%;
  left: 30%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.team-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.team-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}




.committees-options {
  position: absolute;
  top: 100%;
  left: 60%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.committees-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition for background-color */
}

.committees-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}



.socialadditional-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.line-container {
    text-align: center;
    margin: 30px 0;
  }
.sociallogo-container {
    margin-right: 20px; /* Adjust the margin as needed */
    max-width: 200%;
}

.sociallogo3 {
    max-width: 200%; /* Ensure the logo does not exceed its container */
    height: 300px;
}

.socialtext-content {
    text-align: justify; /* Align text to the left */
    display: block;
   font-size: large;
   margin-left: 20px;
}




.spacer {
    height: 100px;
    /* Adjust the height based on your preference */
    margin-bottom: 100px;
    /* Equal to the height of the footer */
}

.footerr-container {
  background: linear-gradient(180deg, rgba(0, 31, 64, 0.5) 0%, #001F40 100%) !important;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    position:relative;
    bottom: 0;
    width: 97.5%;
    max-height: 50px;
    margin-top: 169px;
   
}

.footerr-container a {
  color:#f7f7f7!important;
    text-decoration: none;
    font-size: 14px;
}

.footerr-container p {
  color: #f4f1f0!important;
    text-decoration: none;
    font-size: 14px;
    margin-left: 100px;
    margin-top: -20px;
}

.footerr-logo {
    width: 90px;
    height: 90px;
    margin-left: 100px;
   
    margin-top: -15px;
}
@media only screen and (max-width: 576px) {
  .unsc
  {
     height: auto;
    overflow: hidden;
      
  }

  .socialadditional-content {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center items horizontally within the container */
    text-align: center; /* Center text horizontally */
  }
  
  .sociallogo-container {
    margin-left: 55px !important; /* Adjust the margin as needed */
    max-width: 200%;
}

.sociallogo3 {
    max-width: 200%; /* Ensure the logo does not exceed its container */
    height: 300px;
}

.sociallogo3 {
    max-width: 200%; /* Ensure the logo does not exceed its container */
    height: 300px;
}
  
  .sociallogo3 {
    width: 300px !important;
    height: 200px;
   margin-right: 70px !important;
   margin-left: 0px;
  }
  
  .socialtext-content {
    font-size: 14px !important;
   margin-right: 10px !important;
  }
  

  .footerr-container {
    background: linear-gradient(180deg, rgba(0, 31, 64, 0.5) 0%, #001F40 100%) !important;
    padding: 10px;
    text-align: center;

    
    position:relative !important;
  
    width: auto;
    
    
   
  }
  
  .footerr-container a {
    color:#fdfdfd!important;
    text-decoration: none;
    font-size: 10px;
  }
  
  .footerr-container p {
    color: #f1f0f4!important;
    text-decoration: none;
    font-size: 11px;
    margin-left: 10px;
    
  }
  
  .footerr-logo {
    width: 75px;
    height: 75px;
    margin-left: 10px;
   
    
  }
  /* ... Existing styles ... */
  
  

}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .unsc
  {
     height: auto;
    overflow: hidden;
      
  }
  .socialadditional-content {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center items horizontally within the container */
    text-align: center; /* Center text horizontally */
  }
  
  .sociallogo-container {
    margin-left: 55px !important; /* Adjust the margin as needed */
    max-width: 200%;
}

.sociallogo3 {
    max-width: 200%; /* Ensure the logo does not exceed its container */
    height: 300px;
}

.sociallogo3 {
    max-width: 200%; /* Ensure the logo does not exceed its container */
    height: 300px;
}
  
  .sociallogo3 {
    width: 300px !important;
    height: 200px;
   margin-right: 70px !important;
   margin-left: 0px;
  }
  
  .socialtext-content {
    font-size: auto !important;
   margin-right: 10px !important;
  }
  

  .footerr-container {
    background: linear-gradient(180deg, rgba(0, 31, 64, 0.5) 0%, #001F40 100%) !important;
    padding: 10px;
    text-align: center;

    
    position:relative !important;
  
    width: auto;
    
    
   
  }
  
  .footerr-container a {
    color:#fdfdfd!important;
    text-decoration: none;
    font-size: auto;
  }
  
  .footerr-container p {
    color: #f1f0f4!important;
    text-decoration: none;
    font-size: auto;
    margin-left: 10px;
    
  }
  
  .footerr-logo {
    width: 75px;
    height: 75px;
    margin-left: 10px;
   
    
  }
  /* ... Existing styles ... */
  
  

}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .unsc
  {
     height: auto;
    overflow: hidden;
      
  }
  .socialadditional-content {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center items horizontally within the container */
    text-align: center; /* Center text horizontally */
  }
  
  .sociallogo-container {
    margin-left: 55px !important; /* Adjust the margin as needed */
    max-width: 200%;
}

.sociallogo3 {
    max-width: 200%; /* Ensure the logo does not exceed its container */
    height: 300px;
}

.sociallogo3 {
    max-width: 200%; /* Ensure the logo does not exceed its container */
    height: 300px;
}
  
  .sociallogo3 {
    width: 300px !important;
    height: 200px;
   margin-right: 70px !important;
   margin-left: 0px;
  }
  
  .socialtext-content {
    font-size: auto !important;
   margin-right: 10px !important;
  }
  

  .footerr-container {
    background: linear-gradient(180deg, rgba(0, 31, 64, 0.5) 0%, #001F40 100%) !important;
    padding: 10px;
    text-align: center;

    
    position:relative !important;
  
    width: auto;
    
    
   
  }
  
  .footerr-container a {
    color:#fdfdfd!important;
    text-decoration: none;
    font-size: auto;
  }
  
  .footerr-container p {
    color: #f1f0f4!important;
    text-decoration: none;
    font-size: auto;
    margin-left: 10px;
    
  }
  
  .footerr-logo {
    width: auto;
    height: 75px;
    margin-left: 10px;
   
    
  }
  /* ... Existing styles ... */
  
  

}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .unsc
  {
     height: auto;
    overflow: hidden;
      
  }
  .header{
    height: 447.35px !important;
  }
  .socialadditional-content {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center items horizontally within the container */
    text-align: center; /* Center text horizontally */
  }
  
  .sociallogo-container {
    margin-left: 55px !important; /* Adjust the margin as needed */
    max-width: 200%;
}

.sociallogo3 {
    max-width: 200%; /* Ensure the logo does not exceed its container */
    height: 300px;
}

.sociallogo3 {
    max-width: 200%; /* Ensure the logo does not exceed its container */
    height: 300px;
}
  
  .sociallogo3 {
    width: 300px !important;
    height: 200px;
   margin-right: 70px !important;
   margin-left: 0px;
  }
  
  .socialtext-content {
    font-size: auto !important;
   margin-right: 10px !important;
  }
  

  .footerr-container {
    background: linear-gradient(180deg, rgba(0, 31, 64, 0.5) 0%, #001F40 100%) !important;
    padding: 10px;
    text-align: center;

    
    position:relative !important;
  
    width: auto;
    
    
   
  }
  
  .footerr-container a {
    color:#fdfdfd!important;
    text-decoration: none;
    font-size: auto;
  }
  
  .footerr-container p {
    color: #f1f0f4!important;
    text-decoration: none;
    font-size: auto;
    margin-left: 10px;
    
  }
  
  .footerr-logo {
    width: auto;
    height: 75px;
    margin-left: 10px;
   
    
  }
  /* ... Existing styles ... */
  
  

}